.jumbotron
  %h1 Welcome to Musicstore!
  %p
    = link_to 'Music', '#', class: 'btn btn-primary btn-lg'
    = link_to 'Register', new_user_registration_path, class: 'btn btn-primary btn-lg'

= render @albums