.col-md-3
  .thumbnail
    = link_to album_path(album) do
      = image_tag album.image.url(:original), class: 'img-responsive'
      .caption
        %h3.text-center
          = album.name
        %p.text-center $#{album.price / 100.0}